.controls {
  position: absolute;
  left: 20px;
  bottom: 0;
  width: 60px;
  z-index: 50;

  display: grid;
  gap: 5px;

  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  align-items: flex-start;

  &__title {
    font-family: PT Sans;
    font-size: 14px;
    font-weight: 400;
    line-height: 18.12px;
    text-align: left;

    color: $clr-gray-text1;

    grid-area: span 1 / span 2;
    @media ($bp-1) {
      align-self: flex-end;
    }
  }
  &__leftButton {
    transform: rotate(180deg);
  }

  &__button {
    cursor: pointer;

    place-self: center center;

    border-radius: 50%;
    width: 25px;
    height: 25px;

    border: 1px solid $clr-gray2;
    color: $clr-gray2;
    background-color: $clr-main-bg;
    transition-property: background-color;
    transition-duration: 250ms;
    transition-timing-function: ease-out;

    display: flex;
    justify-content: center;
    align-items: center;

    & img {
      transform: scale(70%);
      @media ($bp-1) {
        transform: scale(50%);
      }
    }

    &_inactive {
      border-color: $clr-gray2-50;
      & svg {
        opacity: 0.5;
      }
    }

    @media ($bp-1) {
      width: 50px;
      height: 50px;

      &:hover:not(:disabled) {
        background-color: $clr-hover;
      }
    }
  }

  @media ($bp-1) {
    position: relative;
    place-self: start;
    gap: 20px;
    left: 0;
  }
}

.mobile__hide {
  display: none;
  @media ($bp-1) {
    display: grid;
  }
}

.tablet__hide {
  @media ($bp-1) {
    display: none;
  }
}
