.root {
  position: relative;
  container-type: size;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 59px 20px 20px;

  @media ($bp-1) {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    z-index: 2;
    padding: 0;
    padding-top: 59px;
  }
}

.centerLine {
  position: absolute;
  top: 100%;
  bottom: 0;
  left: 20px;
  right: 20px;
  border-bottom: 1px solid $clr-gray1;

  @media ($bp-1) {
    left: -20px;
    right: -20px;
    top: 50%;
    bottom: 50%;
    border-bottom: 1px solid $clr-gray1;
    transform: scaleX(1.5);
  }
}

.title {
  place-self: start;

  font-family: PT Sans;
  font-size: 20px;
  font-weight: 700;
  text-align: left;

  color: $clr-gray-text1;
  display: flex;
  justify-items: center;
  align-items: center;

  z-index: 2;

  @media ($bp-1) {
    font-family: PT Sans;
    font-size: clamp(28px, 56px, 56px);
    font-weight: 700;
    text-align: left;
  }
}

.titleWrapper {
  position: relative;
}

.gradientLine {
  display: none;
  @media ($bp-1) {
    transform: translateX(-100px);

    display: block;
    position: absolute;
    width: 5px;
    height: 100%;
    background: linear-gradient(180deg, #3877ee -5%, #ef5da8 85%);
  }
}
