.root {
  container-type: size;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;

  @media ($bp-1) {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    z-index: 2;
  }
}

.centerLine {
  position: absolute;
  top: 50%;
  bottom: 50%;
  left: 20px;
  right: 20px;
  border-bottom: 1px solid $clr-gray1;

  @media ($bp-1) {
    left: -20px;
    right: -20px;
    border-bottom: 1px solid $clr-gray1;
    transform: scaleX(1.5);
  }
}

.title {
  place-self: start;

  font-family: PT Sans;
  font-size: 20px;
  font-weight: 700;
  text-align: left;

  color: $clr-gray-text1;
  display: flex;
  justify-items: center;
  align-items: center;

  z-index: 2;

  @media ($bp-1) {
    font-family: PT Sans;
    font-size: clamp(28px, 56px, 56px);
    font-weight: 700;
    text-align: left;
  }
}

.titleWrapper {
  position: relative;
}

.gradientLine {
  display: none;
  @media ($bp-1) {
    transform: translateX(-80px);

    display: block;
    position: absolute;
    width: 5px;
    height: 100%;
    background: linear-gradient(180deg, #3877ee -5%, #ef5da8 85%);
  }
}

.dates {
  display: flex;
  justify-content: space-between;

  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  font-size: clamp(56px, 17.5vw, 112px);
  letter-spacing: -0.02em;
  z-index: 2;

  & span:first-child {
    color: $clr-blue-text1;
  }
  & span:last-child {
    color: $clr-pink-text1;
  }

  @media ($bp-1) {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;

    align-items: center;
    justify-content: center;
    gap: 100px;

    font-family: PT Sans;
    font-size: 200px;
    font-weight: 700;
    letter-spacing: -0.02em;
    text-align: center;
  }
}
