.root {
  overflow: hidden;
  background-color: $clr-main-bg;
  position: relative;
  container-type: inline-size;

  display: grid;
  grid-template-rows: 1fr 1fr;
  min-height: 568px;

  max-width: 1440px;
  z-index: 0;
  border: 0;
  @media ($bp-1) {
    padding: 10px 20px;

    grid-template-rows: 3fr 1fr;
    padding: 0 80px;
    padding-top: 100px;

    border-style: solid;
    border-left-width: 1px;
    border-right-width: 1px;
    border-top-width: 1px;
    border-bottom-width: 1px;
    border-color: $clr-gray1;
    margin-inline: 32px;
  }
  @media ($bp-2) {
    margin: 0 160px 0 320px;
  }
}
