.root {
  display: grid;
  grid-template-rows: 1fr 1px 1fr;
  min-height: 568px;
  padding: 10px 20px;
  overflow-x: hidden;
}

// .top,
// .bottom {
//   //   background-color: rgb(166, 62, 123);
// }
.line {
  border: 1px solid $clr-gray1;
}
