@import "./variables.scss";
@import "./swiper.scss";

body {
  background-color: $clr-main-bg;
}

@font-face {
  font-family: "Bebas Neue";
  src: url("../assets/fonts/Bebas_Neue/BebasNeue-Regular.ttf");
  font-weight: normal;
  font-style: normal;
}
