@import "./variables.scss";
@import "./swiper.scss";

@font-face {
  font-family: "Bebas Neue";
  src: url(".src/styles/fonts/Bebas_Neue/BebasNeue-Regular.ttf");
  font-weight: normal;
  font-style: normal;
}
