.swiper {
  position: relative;
  container-type: inline-size;
}

.swiper-slide {
  opacity: 0.4;
  width: clamp(166px, 60cqi, 300px);
  padding-left: 20px;

  @media ($bp-1) {
    opacity: 1;
  }

  @media ($bp-1) {
    width: auto;
  }

  & p:first-child {
    font-family: Bebas Neue, "Franklin Gothic Medium", "Arial Narrow", Arial,
      sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 19.2px;

    text-align: left;

    margin-top: 20px;
    margin-bottom: 20px;

    color: $clr-blue-text1;

    @media ($bp-1) {
      font-size: 25px;
      margin-top: 56px;
    }
  }
  & p:last-child {
    font-family: PT Sans;
    font-size: 14px;
    font-weight: 400;
    line-height: 20.3px;
    text-align: left;

    color: $clr-gray-text1;

    @media ($bp-1) {
      font-size: 20px;
    }
  }

  &-active {
    opacity: 1;
  }
}

.swiper-pagination-bullet {
  width: clamp(6px, 2vw, 12px) !important;
  height: clamp(6px, 2vw, 12px) !important;
  background-color: $clr-gray2-40 !important;

  &-active {
    background-color: $clr-gray2 !important;
  }
}

.swiper-pagination {
  @media ($bp-1) {
    display: none;
  }
}

.swiper-button-next,
.swiper-button-prev {
  display: none;
  opacity: 1;
  cursor: pointer;

  z-index: 1;
  transition: opacity 0.1s ease-in-out;

  & img {
    transform: scale(50%);
    color: $clr-blue-text1;
  }

  &.swiper-button-next-disabled,
  &.swiper-button-prev-disabled {
    opacity: 0;
    user-select: none;
    cursor: default;
  }

  @media ($bp-1) {
    transform: translateX(55px);
    display: block;
    position: absolute;
    width: 40px;
    height: 40px;
    top: 25%;

    background-color: #fff;
    box-shadow: 0 0 15px 0 rgba(56, 119, 238, 0.1);
    border-radius: 50%;
  }
}
.swiper-button-next {
  left: 0;
  rotate: 180deg;
}
.swiper-button-prev {
  right: 0;
}
