$clr-main-bg: rgb(244, 245, 249);

$clr-gray1: rgb(199, 205, 217);

$clr-gray2: rgba(66, 86, 122);
$clr-gray2-50: rgba(66, 86, 122, 0.5);
$clr-gray2-40: rgba(66, 86, 122, 0.4);

$clr-blue-text1: rgb(56, 119, 238);

$clr-gray-text1: $clr-gray2;
$clr-pink-text1: rgb(222 118 171);

$clr-hover: rgb(229, 229, 229);

$clr-bullet: #adb5c6;
$clr-bullet-active: $clr-gray2;

$bp-1: "min-width:  768px";
$bp-2: "min-width: 1700px";
$bp-3: "max-width: 1160px";
// 1160
