$clr-main-bg: rgba(243, 243, 243);
$clr-gray1: #c7cdd9;

$clr-gray2: rgba(66, 86, 122);
$clr-gray2-50: rgba(66, 86, 122, 0.5);
$clr-gray2-40: rgba(66, 86, 122, 0.4);

$clr-blue-text1: #3877ee;

$clr-gray-text1: $clr-gray2;
$clr-pink-text1: rgb(222 118 171);

$bp-1: "min-width:  768px";
