.root {
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  height: 100%;

  overflow-x: hidden;
  container: inline-size;
}

.wrapper {
  position: relative;
}
.slider {
  position: absolute;
  display: flex;
  flex-flow: row nowrap;
  gap: 25px;

  &__item {
    width: 166px;
    opacity: 0.4;

    & p:first-child {
      font-family: Bebas Neue, "Franklin Gothic Medium", "Arial Narrow", Arial,
        sans-serif;
      font-size: 16px;
      font-weight: 400;
      line-height: 19.2px;
      text-align: left;

      color: $clr-blue-text1;
    }
    & p:last-child {
      font-family: PT Sans;
      font-size: 14px;
      font-weight: 400;
      line-height: 20.3px;
      text-align: left;

      color: $clr-gray-text1;
    }
    &_active {
      opacity: 1;
    }
  }
}

.controlls {
  display: grid;
  grid-template-columns: 60px 1fr 60px;
  // place-items: center;
  &__title {
    font-family: PT Sans;
    font-size: 14px;
    font-weight: 400;
    line-height: 18.12px;
    text-align: left;

    color: $clr-gray-text1;

    grid-area: span 1 / span 2;
    padding-bottom: 15px;
  }

  &__buttons {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    align-items: flex-start;
  }

  &__button {
    border-radius: 50%;
    width: 25px;
    height: 25px;
    background-color: $clr-main-bg;

    border: 1px solid $clr-gray2;
    color: $clr-gray2;

    &_inactive {
      border-color: $clr-gray2-50;
      color: $clr-gray2-50;
    }

    & svg {
      scale: 80%;
      transform: translateY(2px);
    }
  }

  &__dots {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 12px;
  }
  &__dot {
    width: clamp(6px, 2vw, 12px);
    height: clamp(6px, 2vw, 12px);
    border-radius: 50%;
    background-color: $clr-gray2-40;

    &_active {
      background-color: $clr-gray2;
    }
  }
}
