.root {
  display: flex;
  justify-content: space-between;

  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  // font-size: clamp(56px, 17.5vw, 112px);
  font-size: 56px;

  letter-spacing: -0.02em;
  z-index: 2;

  & span:first-child {
    color: $clr-blue-text1;
  }
  & span:last-child {
    color: $clr-pink-text1;
  }

  @media ($bp-1) {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;

    align-items: center;
    justify-content: center;
    gap: 100px;

    font-family: PT Sans;
    font-size: 200px;
    font-weight: 700;
    letter-spacing: -0.02em;
    text-align: center;
  }

  @media ($bp-1) and ($bp-3) {
    font-size: 120px;
  }
}
